In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_excel('C:/Users/Aminurachma Aisyah/Documents/dataset_shopping.xlsx')

In [5]:
data.head()

       Day Discount Free Delivery Buy
0  Holiday       No            No  No
1  Holiday       No            No  No
2  Weekday       No            No  No
3  Weekend       No            No  No
4  Holiday       No           Yes  No

In [6]:
data.shape

(30, 4)

In [7]:
data['Buy'].value_counts()

Yes    24
No      6
Name: Buy, dtype: int64

In [8]:
PYes = 24/30
PNo = 6/30

In [9]:
print(PYes)

0.8

In [10]:
print(PNo)

0.2

In [11]:
pd.crosstab(data['Day'], data['Buy'])

Buy      No  Yes
Day
Holiday   3    8
Weekday   2    9
Weekend   1    7

In [12]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5    5
Yes        1   19

In [13]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4    3
Yes             2   21

In [14]:
PHolidayNo = 3/6
PWeekdayNo = 2/6
PWeekendNo = 1/6

PHolidayYes = 8/24
PWeekdayYes = 9/24
PWeekendYes = 7/24

PHoliday = 11/30
PWeekday = 11/30
PWeekend = 8/30

In [15]:
PNoDiscountNo = 5/6
PYesDiscountNo = 1/6

PNoDiscountYes = 5/24
PYesDiscountYes = 19/24

PNoDiscount = 10/30
PYesDiscount = 20/30

In [19]:
PNoDeliveryNo = 4/6
PYesDeliveryNo = 2/6

PNoDeliveryYes = 3/24
PYesDeliveryYes = 21/24

PNoDelivery = 7/30
PYesDelivery = 23/30

In [44]:
#Soal Nomer 1

#P(A)  = PYes
#P(B)  = PWeekdayYes, PYesDeliveryYes, PYesDiscountYes
#P(B)1 = PWeekday
#P(B)2 = PYesDelivery
#P(B)3 = PYesDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuy1 = ((PWeekdayYes*PYesDeliveryYes*PYesDiscountYes)*PYes)/(PWeekday*PYesDiscount*PYesDelivery)
print(PYesBuy1)

1.108880928853755

In [45]:
#Soal Nomer 2

#P(A)  = PYes
#P(B)  = PWeekdayYes, PNoDeliveryYes, PNoDiscountYes
#P(B)1 = PWeekday
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuy2 = ((PWeekdayYes*PNoDeliveryYes*PNoDiscountYes)*PYes)/(PWeekday*PNoDiscount*PNoDelivery)
print(PYesBuy2)

0.27394480519480524

In [46]:
#Soal Nomer 3

#P(A)  = PNo
#P(B)  = PWeekdayNo, PYesDeliveryNo, PYesDiscountNo
#P(B)1 = PWeekday
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuy3 = ((PWeekdayNo*PYesDeliveryNo*PYesDiscountNo)*PNo)/(PWeekday*PYesDiscount*PYesDelivery)
print(PNoBuy3)

0.019762845849802375

In [47]:
#Soal Nomer 4

#P(A)  = PNo
#P(B)  = PWeekdayNo, PNoDeliveryNo, PNoDiscountNo
#P(B)1 = PWeekday
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuy4 = ((PWeekdayNo*PNoDeliveryNo*PNoDiscountNo)*PNo)/(PWeekday*PNoDiscount*PNoDelivery)
print(PNoBuy4)

1.2987012987012987

In [48]:
#Soal Nomer 5

#P(A)  = PYes
#P(B)  = PWeekendYes, PYesDeliveryYes, PYesDiscountYes
#P(B)1 = PWeekend
#P(B)2 = PYesDelivery
#P(B)3 = PYesDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuy5 = ((PWeekendYes*PYesDeliveryYes*PYesDiscountYes)*PYes)/(PWeekend*PYesDiscount*PYesDelivery)
print(PYesBuy5)

1.185886548913044

In [49]:
#Soal Nomer 6

#P(A)  = PYes
#P(B)  = PWeekendYes, PNoDeliveryYes, PNoDiscountYes
#P(B)1 = PWeekend
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PYesBuy6 = ((PWeekendYes*PNoDeliveryYes*PNoDiscountYes)*PYes)/(PWeekend*PNoDiscount*PNoDelivery)
print(PYesBuy6)

0.29296875000000006

In [50]:
#Soal Nomer 7

#P(A)  = PNo
#P(B)  = PWeekendNo, PYesDeliveryNo, PYesDiscountNo
#P(B)1 = PWeekend
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuy7 = ((PWeekendNo*PYesDeliveryNo*PYesDiscountNo)*PNo)/(PWeekend*PYesDiscount*PYesDelivery)
print(PNoBuy7)

0.013586956521739134

In [51]:
#Soal Nomer 8

#P(A)  = PNo
#P(B)  = PWeekendNo, PNoDeliveryNo, PNoDiscountNo
#P(B)1 = PWeekend
#P(B)2 = PNoDelivery
#P(B)3 = PNoDiscount

#Ditanya P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

#Jawaban :

PNoBuy8 = ((PWeekendNo*PNoDeliveryNo*PNoDiscountNo)*PNo)/(PWeekend*PNoDiscount*PNoDelivery)
print(PNoBuy8)

0.8928571428571428

In [56]:
# (PYesBuy1) Probablity of  purchase = 1.108880928853755
#  (PNoBuy3) Probablity of No purchase = 0.019762845849802375


PSum1 = PYesBuy1 + PNoBuy3
print (PSum1)


PLikehoodsoalnomer1 = (PYesBuy1/PSum1)*100
print (PLikehoodsoalnomer1)

PLikehoodsoalnomer3 = (PNoBuy3/PSum1)*100
print (PLikehoodsoalnomer3)

1.1286437747035576
98.24897400820792
1.7510259917920656

In [57]:
# (PYesBuy2) Probablity of  purchase = 0.27394480519480524
#  (PNoBuy4) Probablity of No purchase = 1.2987012987012987


PSum2 = PYesBuy2 + PNoBuy4
print (PSum2)


PLikehoodsoalnomer2 = (PYesBuy2/PSum2)*100
print (PLikehoodsoalnomer2)

PLikehoodsoalnomer4 = (PNoBuy4/PSum2)*100
print (PLikehoodsoalnomer4)

1.572646103896104
17.41935483870968
82.58064516129032

In [59]:
# (PYesBuy5) Probablity of  purchase = 1.185886548913044
#  (PNoBuy7) Probablity of No purchase = 0.013586956521739134 


PSum3 = PYesBuy5 + PNoBuy7
print (PSum3)


PLikehoodsoalnomer5 = (PYesBuy5/PSum3)*100
print (PLikehoodsoalnomer5)

PLikehoodsoalnomer7 = (PNoBuy7/PSum3)*100
print (PLikehoodsoalnomer7)

1.199473505434783
98.86725663716815
1.1327433628318584

In [60]:
# (PYesBuy6) Probablity of  purchase = 0.29296875000000006
#  (PNoBuy8) Probablity of No purchase = 0.8928571428571428


PSum4 = PYesBuy6 + PNoBuy8
print (PSum4)


PLikehoodsoalnomer6 = (PYesBuy6/PSum4)*100
print (PLikehoodsoalnomer6)

PLikehoodsoalnomer8 = (PNoBuy8/PSum4)*100
print (PLikehoodsoalnomer8)

1.1858258928571428
24.705882352941185
75.29411764705883